/* Contact us section */
.contact {
  width: 100%;
  background-image: url(../img/say-backround.png);
  background-size: cover;
  background-position: center;
  padding: 120px 0 200px 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
.contact__title {
  margin-bottom: 94px;
  text-align: center;
  font-family: "Aleo", serif;
  color: #fff;
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 400;
}
.contact__wrapper {
  max-width: 1111px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.image__wrapper {
  max-width: 445px;
  max-height: 284px;
}
.contact__image {
  max-width: 100%;
  width: auto;
  height: auto;
}
.text__wrapper {
  background-color: #333333;
  padding: 51px 54px 48px 61px;
}
.contact__name {
  color: #fefefe;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 33px;
}
.contact__text {
  font-size: 14px;
  color: #fefefe;
  max-width: 551px;
  line-height: 1.5em;
  text-align: justify;
}
.contact__pre {
  font-weight: 700;
  font-size: 36px;
  color: #5474fd;
}
@media screen and (max-width: 1111px) {
  .contact {
    padding: 10% 0;
  }
  .contact__title {
    margin-top: 50px;
    font-size: 28px;
  }
  .text__wrapper {
    padding: 10%;
  }
}
