@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: "Pacifico-Regular";
  src: local("Pacifico-Regular"),
    url("https://nomail.com.ua/files/woff/9b79bde19b07cbc80daeff1aaa085b5c.woff")
      format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  font-family: "Raleway", sans-serif;
}
/*Header section*/
.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background: rgb(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 2;
  justify-content: space-between;
}
.header__title {
  padding: 3%;
  font-family: "Pacifico-Regular";
  font-size: 55px;
  transition: 500ms ease-out;
}
.header__title:hover {
  transform: scale(1.1) rotate(20deg);
}
.navigation {
  text-align: end;
}
.navigation__item {
  display: inline-block;
  margin: 0 15px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
.navigation__link {
  text-decoration: none;
  color: black;
  transition: 200ms ease-in;
}
.navigation__link:hover {
  border-top: 3px solid #ff6033;
  text-shadow: 0 5px 15px grey;
}
@media screen and (max-width: 1365px) {
  .navigation__item {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .header__title {
    font-size: 35px;
  }
}
/*Fresh section*/
.section-fresh {
  width: 100%;
  background-image: url(../img/first.png);
  background-position: center;
  background-size: 140%;
  display: flex;
  align-items: center;
}
.section-fresh__wrapper {
  margin: 25% 0 20% 10%;
  flex-basis: 450px;
}
.section-fresh__title {
  font-size: 60px;
  font-weight: 900;
}
.section-fresh__text {
  margin: 50px 0;
  color: #262626;
  font-size: 17px;
  font-weight: 400;
}
.section-fresh__link {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: #ff6033;
  box-shadow: 2px 2px 3px grey;
  padding: 20px 25px;
  transition: 300ms ease-in;
}
.section-fresh__link:hover {
  font-weight: 700;
  box-shadow: 0 0 10px black;
  background-color: coral;
}
@media screen and (max-width: 767px) {
  .section-fresh {
    background-size: 320%;
  }
  .section-fresh__title {
    font-size: 50px;
  }
  .section-fresh {
    padding: 5%;
  }
}
/*About Us section*/
.aboutus {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #00b1b1;
}
.aboutus__logo-wrapper {
  flex-basis: 540px;
}
.aboutus__logo {
  width: 100%;
  transform: rotateZ(3600deg);
  transition: 360s;
}
.aboutus__text-wrapper {
  flex-basis: 400px;
}
.aboutus__title {
  font-weight: 900;
  font-size: 80px;
  color: #ffffff;
  letter-spacing: 2px;
}
.aboutus__text {
  font-weight: 300;
  color: #ffffff;
  font-size: 17px;
  padding-top: 20px;
}
@media screen and (max-width: 767px) {
  .aboutus__title {
    font-size: 50px;
  }
  .aboutus {
    padding: 10%;
    height: auto;
  }
}
/*Services section*/
.services {
  width: 100%;
  height: 100vh;
  background-color: #70bfff;
  background-image: url(../img/servicesbackround.png);
  background-repeat: no-repeat;
  background-position: 80%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.services__title {
  color: #fff;
  font-size: 90px;
  text-align: center;
  font-weight: 700;
}
.ul__item {
  max-width: 500px;
  height: 100px;
  text-align: center;

  background-color: #fff;
  box-shadow: 3px 3px 10px black;
  margin-bottom: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ul-item__text {
  flex-grow: 0.7;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.ul-item__icon {
  transition: 200ms ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  text-align: center;
  font-size: 50px;
  width: 20%;
  padding: 0 50px;
  border-left: 1px solid black;
}
.ul__item:hover .__servicon1 {
  color: gray;
  transform: scaleX(1.2);
  border-left: 1px solid transparent;
}
.ul__item:hover .__servicon2 {
  color: burlywood;
  transform: scaleX(1.2);
  border-left: 1px solid transparent;
}
.ul__item:hover .__servicon3 {
  color: #355b82;
  transform: scaleX(1.2);
  border-left: 1px solid transparent;
}
.ul__item:hover .__servicon4 {
  color: #ff6033;
  transform: scaleX(1.2);
  border-left: 1px solid transparent;
}
@media screen and (max-width: 767px) {
  .services {
    padding: 10%;
    height: auto;
  }
  .ul-item__text {
    font-size: 16px;
  }
  .ul__item {
    height: 70px;
  }
  .services__title {
    font-size: 50px;
    margin-bottom: 30px;
    text-shadow: 0 0 10px black;
  }
  .ul-item__icon {
    font-size: 30px;
    padding: 0 20px;
  }
}
/*Gallery section*/
.gallery {
  width: 100%;
  background-color: #ffe92f;
}
.gallery__title {
  font-size: 90px;
  font-weight: 700;
  color: #262626;
  text-align: center;
  padding-top: 7%;
}
.gallery__text {
  font-size: 17px;
  color: #262626;
  text-align: center;
  max-width: 570px;
  margin: 3% auto 3% auto;
}
.gallery__wrapper {
  display: flex;
  justify-content: space-evenly;
  max-width: 1220px;
  flex-wrap: wrap;
  margin: 0 auto;
}
.item1,
.item2,
.item3,
.item4,
.item5 {
  margin-bottom: 15px;
}
.item1 {
  max-width: 772px;
  max-height: 552px;
}
.item2,
.item3 {
  max-width: 380px;
  max-height: 270px;
}
.item4,
.item5 {
  max-width: 572px;
  max-height: 402px;
}
.gallery__image {
  width: 100%;
  transition: 100ms ease-in;
}
.gallery__image:hover {
  transform: scale(1.1);
  border-radius: 30px;
}
.gallery__button-wrapper {
  padding: 3% 0;
}
.gallery__button {
  display: block;
  width: 200px;
  height: 55px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #5585a2;
  margin: 0 auto;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
@media screen and (max-width: 1365px) {
  .gallery__wrapper {
    max-width: 90%;
    justify-content: center;
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5 {
    align-self: stretch;
    width: 700px;
    max-width: 700px;
    max-height: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .gallery__title {
    font-size: 50px;
  }
  .gallery {
    padding: 10%;
  }
}
/*Subscribe sextion*/
.subscribe {
  width: 100%;
  height: 50vh;
  background-image: url(../img/subscribebackround.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
}
.subscribe__title {
  color: #262626;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
}
.subscribe__text {
  color: #262626;
  font-size: 17px;
  max-width: 541px;
  margin: 30px 0;
}
.subscribe__input {
  height: 56px;
  border: 1px solid #262626;
  padding-left: 20px;
  font-size: 17px;
  font-weight: 300;
  width: 500px;
}
.subscribe__input::placeholder {
  color: gray;
}
.subscribe__input:focus:invalid {
  background-color: lightsalmon;
}
.subscribe__input:focus:valid {
  background-color: lightgreen;
}
.subscribe__submit {
  margin: 0 29px;
  width: 171px;
  height: 56px;
  font-size: 17px;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #96b92c;
  color: #fff;
  border: none;
}
@media screen and (max-width: 767px) {
  .subscribe {
    height: auto;
    padding: 10%;
  }
  .subscribe__input {
    max-width: 100%;
  }
  .subscribe__submit {
    margin: 10% auto;
    align-self: center;
  }
}
/*Blog section*/
.blog {
  width: 100%;
  background-color: #b07cf7;
}
.blog__title {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 90px;
  text-transform: capitalize;
  padding-top: 100px;
}
.blog__text {
  text-align: justify;
  text-align-last: justify;
  color: #ffffff;
  font-size: 17px;
  line-height: 25px;
  max-width: 563px;
  margin: 40px auto;
}
.blog__calendar {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
}
.calendar__item {
  flex-basis: 370px;
  height: 310px;
  box-shadow: 0 0 15px gray;
  transition: 2s;
  position: relative;
  margin: 10px;
}
.calendar__item:hover {
  border-radius: 50%;
  transform: rotate(360deg) scale(1.1);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px white;
}
.calendar__item:hover .calendar__date {
  left: 40%;
}
.calendar__item:hover .calendar__bottom-wrapper {
  left: 15%;
  bottom: 20%;
}
.item__left {
  background-image: linear-gradient(0deg, #000 0, transparent 50%),
    url(../img/blogleft.png);
}
.item__center {
  background-image: linear-gradient(0deg, #000 0, transparent 50%),
    url(../img/blogcenter.png);
}
.item__right {
  background-image: linear-gradient(0deg, #000 0, transparent 50%),
    url(../img/blogright.png);
}
.calendar__date {
  transition: 2s;
  position: absolute;
  left: 30px;
  top: 30px;
  display: block;
  border: 1px solid #262626;
  height: 60px;
  width: 60px;
  background-color: #262626;
  opacity: 0.7;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.calendar__bottom-wrapper {
  transition: 2s;
  max-width: 310px;
  position: absolute;
  left: 20px;
  bottom: 23px;
}
.bottom-wrapper__title {
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 700;
}
.bottom-wrapper__text {
  font-size: 13px;
  color: #ffffff;
  font-weight: 300;
}
.blog__button-wrapper {
  padding: 5% 0;
}
.blog__button {
  display: block;
  width: 200px;
  height: 55px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #f72b3b;
  margin: 0 auto;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
@media screen and (max-width: 767px) {
  .blog__title {
    font-size: 50px;
  }
  .blog {
    padding: 0 10%;
  }
}
/*Contact section*/
.contact {
  width: 100%;
  background-image: url(../img/Contactsection.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__title {
  color: #262626;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  padding-top: 100px;
}
.contact__subtitle {
  color: #262626;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  max-width: 370px;
  text-align: center;
  margin: 45px auto;
}
.contact__main-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 5%;
}
.main__form {
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: space-between;
  height: 445px;
}
.form-input {
  display: block;
  width: 100%;
  line-height: 50px;
  background-color: #00c4c4;
  padding-left: 30px;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  transition: 1s;
  border-left: 5px solid transparent;
}
.form-input::placeholder {
  color: #ffffff;
  font-weight: 300;
}
.form-input:focus {
  outline: none;
  border-left: 5px solid #355b82;
}
.form-input:not(:focus) {
  opacity: 0.6;
}
.form-input:invalid:focus {
  background-color: salmon;
}
.main-contacts__title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.main-contacts__subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .contact__title {
    font-size: 50px;
  }
  .main__form {
    width: 90%;
  }
  .contact {
    padding: 0 10%;
  }
  .main-contacts__title,
  .main-contacts__subtitle {
    text-shadow: 0 0 15px white;
  }
}
/*Footer*/
.footer {
  width: 100%;
  height: 100px;
  background: rgb(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}
.footer__left {
  font-size: 20px;
  font-weight: 300;
}
.footer__cahee {
  font-family: "Pacifico-Regular";
  font-size: 30px;
  margin: 0 5%;
}
.footer__right {
  font-size: 20px;
  font-weight: 300;
}
.footer__love {
  color: crimson;
  font-weight: 900;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 10%;
    flex-direction: column;
    max-height: 200px;
    text-align: center;
  }
  .footer__left,
  .footer__right {
    font-size: 12px;
  }
  .footer__cahee {
    font-size: 20px;
  }
}
/*Scroll button
.scroll {
  position: fixed;
  bottom: 0;
  left: 35%;
  align-self: flex-end;
  margin: 0 0 30px 15%;
}*/
